<form {{action 'saveProject' on='submit'}}>
	<p>
	<label>Nombre del proyecto</label>
	{{input value=project.name }}
	</p>

	<p>
	<label>Fecha de inicio del proyecto</label>
	{{input value=project.startDate type='date' }}
	</p>

	<p>
	<label>Fecha de fin del proyecto</label>
	{{input value=project.endDate type='date' }}
	</p>

	<p>
	<label>¿Realizado?</label>
	{{input checked=project.done type="checkbox"}}
	</p>

	<input type="submit" value="Guardar" />
	<input type="button" value="Cancelar" {{action 'cancelNew'}} />
</form>
