{{!-- Esta lista va a ser dinamica --}}
<ul>
	{{#each projects as |project|}}
		<li>
			{{#link-to 'projects.project.edit' project}}
				{{project.name}}
			{{/link-to}}

			<button {{action 'deleteProject' project}} type="button" class="btn btn-default" aria-label="Borrar">
			  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		</li>
	{{/each}}
</ul>
