{{!-- project --}}


{{!-- name:
startDate:
endDate:
done

tasks:  --}}


	<h2>{{project.name}}</h2>

	<ul>
		<li>{{project.startDate}}</li>
		<li>{{project.endDate}}</li>
		<li>{{project.done}}</li>
	</ul>
