<form {{action 'save' on='submit'}}>
	<label for="titleTask"></label>
	{{input value=task.title id='titleTask'}}

	<label for="dueDateTask"></label>
	{{input value=task.dueDate type='datetime-local' id='dueDateTask'}}

	<label for="completedTask"></label>
	{{input checked=task.completed type='checkbox' id='completedTask'}}

	<input type="submit" value="Guardar"/>
</form>
