<h2 id="title">Projects</h2>

{{#link-to 'projects.new' class="btn btn-primary btn-lg"}}
	Nuevo projecto
{{/link-to}}

<div class="half-div">
	{{list-projects projects=model
									clickHandlerAction='listProjectsClickHandler'
									didDestroyProject='reloadModel'
									}}
</div>

<div class="half-div">
{{project-preview project=selectedProject }}
</div>
