<form {{action 'loginUser' email password on='submit'}} >
	<div class="row">
		<div class="col-md-12">
			<label>Email:</label> {{input value=email class='form-input'}}
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<label>Password:</label> {{input value=password type='password' class='form-input'}}
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<input type="submit" value="Login!"/>
		</div>
	</div>
</form>
